sudo: required
dist: trusty
language: java
jdk:
  - oraclejdk8
addons:
  apt:
    packages:
      - rpm
install:
  - git clone --branch 3.2 --depth=1 --no-single-branch https://github.com/Graylog2/graylog2-server ../graylog2-server
  - (cd ../graylog2-server && mvn -DskipTests=true compile -B -V)
  - mvn install -DskipTests=true -Dmaven.javadoc.skip=true -Dskip.web.build=true -B -V
script:
  - mvn package -B
before_deploy:
  - mvn jdeb:jdeb && export RELEASE_DEB_FILE=$(ls target/*.deb)
  - mvn rpm:rpm && export RELEASE_RPM_FILE=$(find target/ -name '*.rpm' | tail -1)
  - rm -f target/original-*.jar
  - export RELEASE_PKG_FILE=$(ls target/*.jar)
  - echo "Deploying release to GitHub releases"
deploy:
  provider: releases
  api_key:
    secure: o4aGEYiU3qxIWaMFadlC6bMYYNo0sPKBgoDV4OjVH5hAn4Z8oujSsRrC9uIVbi8uh0LImx5z0KqgRAtBq+zCvXt39CFj6ZN9HqziOhJPVnXob/LUFu8ZdrHvDFNUP5tfJ49CuKoJX0j43QZVCqREiUD+BhQIKYVRS2OvEFFHYr4L2KA4LwTk+YP3nPov70sCyY8X824Yx4E0fcQD8mqTUj9YE2CdOH3EaULTXM6+xjBP47WdpdNwU3Qafxsncy2Mms0yGJ8dpMdz8XOAfRR6oyANtZQOLJ5zn23KL3AvLeqqkLD32olGxg9FzHqGtptXXkvpuRQ3GFun1r0KCyCsAXe4vkUPxYPp0UkaHFkIVVHa6PoNX3CqZ2KTAwKNj3/0lFL6Bbr1q8rcw6PJucnwsdXmuRS+ofWVvk0AZN7iQlfeIBzLgqGdb/hcU5SzSV9ne4in2jHOAgY29ZEGKSi5yaSwSgaU+OUurpXRGvByxvYgJKyybIkfUGiHy0anZ+MvO7/XGR0d28d00jFhXrA1d4cT0DMUNp8+uoJNFIs6MjOiHOUprPifkGI+1jpDIR2BUR6NEkChfWvzzmyZtbLy7zQN+ddc6AKvJ7Z7Vz5K07i7ATQslwLMp9fKOa4Fw9dcCT2CBi5kXuTpY5jkZIw0sFzoDZJRP7b18Uwv7V2ky8o=
  file:
    - "${RELEASE_PKG_FILE}"
    - "${RELEASE_DEB_FILE}"
    - "${RELEASE_RPM_FILE}"
  skip_cleanup: true
  on:
    tags: true
    jdk: oraclejdk8
